.galerie{
    padding-top: 20px;
    padding-bottom: 50px;
}

.titre_galerie{
    color: black;
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 100px;
    text-align: center;
    letter-spacing:1px;
}

.galerie img{
    width: 1150px;
    height: 650px;
}

@media screen and (max-width: 768px) {
    .galerie{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .galerie img{
        width: 350px;
        height: 200px;
        margin-left: 10%;
        width: 80%;
    }
    .titre_galerie{
        font-size: 25px;
        padding-top: 20px;
        text-transform:capitalize;

    }
}